body{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    margin: 0;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}
 h3 {
    margin: 0;
}

a{
    text-decoration: none;
}

.center{
width: 600px;
height: 800px;
background: none;
border: 2px solid #00C8FF;
margin: 80px 0 0 0;
border-radius: 16px;

display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
justify-content: center;
}

.center h1{
    font-family:'MontserratAlternates-ExtraBold';
    font-size: 24px;
    color: #00C8FF;
    margin: 20px 0 10px 0;
}

.center input{
    width: 300px;
    height: 40px;
    border: 1px solid #00C8FF;
    padding: 0px 0 0 10px;
    border-radius: 16px;
}

.center input:focus{
outline: 0;
}

.center input::placeholder{
    color: #00C8FF;
     font-family: "MontserratAlternates-Ligh";
}

.center button{
    font-family: "MontserratAlternates-Ligh";
    font-size: 16px;
    color: #00C8FF;
    background: none;
    border: solid 1px #00C8FF;
    border-radius: 16px;
    width: 200px;
    height: 40px;
    transition: 300ms;
}

.center button:hover{
    color: #ffffff;
    background-color: #00C8FF;
    border: none;
    transition: 500ms;
}

.center p{
        font-family: "MontserratAlternates-Ligh";
    font-size: 12px;
    text-align: center;
    width: 400px;
}

.center a{
    font-family: "MontserratAlternates-Ligh";
    font-size: 16px;
    text-align: center;
    width: 400px;
    color: black;
}

.center span{
    font-family:'MontserratAlternates-ExtraBold';
    font-size: 16px;
    text-align: center;
    width: 400px;
    color: #00C8FF;
}