.avatar {
    width: 345px;
    height: 345px;
}

.header-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.Data-profile h1 {
    font-family: 'MontserratAlternates-ExtraBold';
    font-size: 24px;
    color: #00C8FF;
}

.Data-profile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between
}

.button-profile-header {
    display: flex;
    gap: 30px;
}

.data-css {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#data-output {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

#data-output h2 {
    font-family: 'MontserratAlternates-Medium';
    font-size: 24px;
    color: black;
    width: 281px;
}

#data-output p {
    font-family: "MontserratAlternates-Ligh";
    font-size: 24px;
    color: #00C8FF;
    width: 281px;
}

.button-profile-header button {
    width: 300px;
    height: 40px;
    font-family: "MontserratAlternates-Regular";
    font-size: 16px;
    text-align: center;
    border: 1px solid #00C8FF;
    border-radius: 16px;
    background: none;
    color: #00C8FF;
    transition: 300ms;
}

.button-profile-header button:hover {
    border: none;
    border-radius: 16px;
    background-color: #00C8FF;
    color: white;
    transition: 500ms;
}

.content-left h1 {
    font-family: 'MontserratAlternates-ExtraBold';
    font-size: 32px;
    color: black;
    margin: 20px 0 10px 0;
}

.content-left hr {
    width: 345px;
    height: 2px;
}

.content-right hr {
    width: 1075px;
    height: 2px;
}

.card-resipt {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    width: 345px;
}

.card-position {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-resipt h1 {
    font-size: 36px;
    font-family: "MontserratAlternates-Medium";
    margin: 20px 0 0 0;
}

.card-resipt p {
    font-size: 24px;
    font-family: "MontserratAlternates-Regular";
    margin: 5px 0 0 0;
}

.card-resipt img {
    width: 345px;
    height: 545px;
    border-radius: 16px;
}

.content-right h1 {
    font-family: 'MontserratAlternates-ExtraBold';
    font-size: 32px;
    color: black;
    margin: 20px 0 10px 0;
}

.blog-profile {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.blog-post h3 {
    width: 345px;
    font-family: 'MontserratAlternates-Medium';
    font-size: 20px;
    margin: 20px 0 10px 0;
}

.blog-post p {
    width: 345px;
    font-family: "MontserratAlternates-Ligh";
    font-size: 16px;
    margin: 10px 0 0 0;
}

.blog-post button {
    width: 135px;
    height: 30px;
    border: 1px solid #00C8FF;
    border-radius: 16px;
    background: none;
    text-align: center;
    font-family: "MontserratAlternates-Ligh";
    font-size: 16px;
    margin: 15px 0 0 0;
    color: #00C8FF;
    transition: 300ms;
}

.blog-post button:hover {
    border: none;
    border-radius: 16px;
    background-color: #00C8FF;
    color: white;
    transition: 500ms;
}
